.hola{
background-color: bisque;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lindo{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bunny{
    background-color: blanchedalmond;
font-family: Georgia, 'Times New Roman', Times, serif;
}